[submodule "components/YOBA"]
	path = components/YOBA
	url = https://github.com/IgorTimofeev/YOBA.git
[submodule "components/ESP-IDF-SX1262"]
	path = components/ESP-IDF-SX1262
	url = https://github.com/IgorTimofeev/ESP-IDF-SX1262.git
