[submodule "components/YOBA"]
	path = components/YOBA
	url = https://github.com/IgorTimofeev/YOBA.git
[submodule "components/ESP-IDF-SX1262"]
	path = components/ESP-IDF-SX1262
	url = https://github.com/IgorTimofeev/ESP-IDF-SX1262.git
[submodule "components/ESP-IDF-NVSExtensions"]
	path = components/ESP-IDF-NVSExtensions
	url = https://github.com/IgorTimofeev/ESP-IDF-NVSExtensions.git
[submodule "components/ESP-IDF-Units"]
	path = components/ESP-IDF-Units
	url = https://github.com/IgorTimofeev/ESP-IDF-Units.git
[submodule "components/ESP-IDF-BitStream"]
	path = components/ESP-IDF-BitStream
	url = https://github.com/IgorTimofeev/ESP-IDF-BitStream.git
[submodule "components/ESP-IDF-Battery"]
	path = components/ESP-IDF-Battery
	url = https://github.com/IgorTimofeev/ESP-IDF-Battery.git
[submodule "components/ESP-IDF-LowPassFilter"]
	path = components/ESP-IDF-LowPassFilter
	url = https://github.com/IgorTimofeev/ESP-IDF-LowPassFilter.git
[submodule "components/ESP-IDF-PIDController"]
	path = components/ESP-IDF-PIDController
	url = https://github.com/IgorTimofeev/ESP-IDF-PIDController.git
